@using System.ComponentModel
@using AntDesign.TableModels
@using IIOTS.WebRMS.Services
@using IIOTS.Enum
@using IIOTS.Models
@using IIOTS.Util
@using IIOTS.WebRMS.Models
@page "/TagList"

<div>
    @if (!IsDisabled)
    {
        <Button OnClick="@(()=>{
                            tagGroupEntitie=new();
                            _editBoxVisible = true;
                    })"
                Type="primary"
                Style="margin-bottom:16px">
            添加点位组
        </Button>
    }
    <Modal Title="添加进程"
           Visible="@_editBoxVisible"
           OnOk="async()=>{
                        _editBoxLoading=true;
                        await AddOrUpdateTagGroup();
                        _editBoxLoading=false;
                        _editBoxVisible = false;
                   }"
           OnCancel="@(()=>{ _editBoxVisible = false; })"
           ConfirmLoading="@_editBoxLoading">
        <Form Model="@tagGroupEntitie"
              LabelColSpan="8"
              WrapperColSpan="16">
            <FormItem Label="组名">
                <Input @bind-Value="@context.TagGName" />
            </FormItem>
            <FormItem Label="设备类型">
                <Select DefaultValue="@DriverTypeEnum.OPCUA"
                        Style="width: 120px;"
                        TItemValue="DriverTypeEnum"
                        @bind-Value="@context.DriverType"
                        TItem="string">
                    <SelectOptions>
                        @foreach (DriverTypeEnum driverTypeEnum in Enum.GetValues(typeof(DriverTypeEnum)))
                        {
                            <SelectOption TItemValue="DriverTypeEnum"
                                          TItem="string"
                                          Value="@driverTypeEnum"
                                          Label="@driverTypeEnum.ToString()" />
                        }
                    </SelectOptions>
                </Select>
            </FormItem>
            <FormItem Label="备注">
                <Input @bind-Value="@context.Description" />
            </FormItem>
        </Form>
    </Modal>
    <Table TItem="TagGroupEntity"
           DataSource="@tagGroupEntities"
           Size="TableSize.Small"
           RowKey="x=>x.Id"
           ScrollX="max-content"
           Loading="@tableLoad">
        <Selection Hidden="IsDisabled" Key="@(context.Id.ToString())" />
        <ActionColumn Hidden="!IsDisabled" Title="操作">
            <Space>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary"
                            OnClick="async()=>await SelectTagGroup.InvokeAsync(context)">
                        选择
                    </Button>
                </SpaceItem>
            </Space>
        </ActionColumn>
        <PropertyColumn Title="组名" Property="c=>c.TagGName" Sortable />
        <PropertyColumn Title="驱动类型" Property="c=>c.DriverType" Sortable />
        <PropertyColumn Title="备注" Property="c=>c.Description" Sortable />
        <PropertyColumn Title="创建时间" Property="c=>c.CreationDate" Format="yyyy-MM-dd HH:mm:ss" Sortable />
        <ActionColumn Hidden="IsDisabled" Title="操作">
            <Space>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary"
                            OnClick="()=>Edit(context)">
                        编辑
                    </Button>
                </SpaceItem>
            </Space>
            <Space>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" Disabled="@(context.DriverType==DriverTypeEnum.Other)"
                            OnClick="@(()=>{ NavigationManager.NavigateTo($"/Tags/{context.Id}");})">
                        点位配置
                    </Button>
                </SpaceItem>
            </Space>
            <Space>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary"
                            OnClick="@(()=>EditFlow(context))">
                        流程编辑
                    </Button>
                </SpaceItem>
            </Space>
            <Space>
                <SpaceItem>
                    <Popconfirm Title="确认删除？"
                                OnConfirm="@(async()=>{
                                                 tableLoad=true;
                                                 await Detect(context );
                                                 tableLoad=false;
                                              })">
                        <Button Danger Type="@ButtonType.Primary">
                            删除
                        </Button>
                    </Popconfirm>
                </SpaceItem>
            </Space>
        </ActionColumn>

    </Table>
</div>