@using System.Text.RegularExpressions
@using IIOTS.Models
@using System.Collections.Concurrent
@using Title = AntDesign.Charts.Title
@page "/"
<PageContainer Title="节点面板">
    <Content>
        <Card>
            <Row Gutter="24">
                <AntDesign.Col Sm="8" Xs="24">
                    <div class="headerInfo">
                        <span>部署节点</span>
                        <p>@edgeLoginInfos.Count</p>
                    </div>
                </AntDesign.Col>
                <AntDesign.Col Sm="8" Xs="24">
                    <div class="headerInfo">
                        <span>在线节点</span>
                        <p>@GetRunEdges().Count()</p>
                    </div>
                </AntDesign.Col>
                <AntDesign.Col Sm="8" Xs="24">
                    <div class="headerInfo">
                        <span>在线率</span>
                        <p>@(((double)GetRunEdges().Count() / edgeLoginInfos.Count).ToString("0.0%"))</p>
                    </div>
                </AntDesign.Col>
            </Row>
        </Card>
        <Table TItem="EdgeLoginInfo"
               ScrollX="max-content"
               DataSource="@edgeLoginInfos.Values"
               Size="TableSize.Small">
            <PropertyColumn Title="节点名称" Property="c=>c.EdgeID" Filterable Sortable />
            <PropertyColumn Title="启动时间" Property="c=>c.StartTime" Filterable Format="yyyy-MM-dd HH:mm:ss" Sortable />
            <PropertyColumn Title="运行状态" Property="c=>c.State" Filterable>
                @{
                    var color = context.State ? "green" : "red";
                    <Tag Color="@color">@(context.State ? "在线" : "离线")</Tag>
                }
            </PropertyColumn>
            <ActionColumn Title="操作">
                <Space>
                    <SpaceItem>
                        <Button Block
                                Type="@ButtonType.Primary"
                                OnClick="@(()=>{  NavigationManager.NavigateTo($"/ProgressInfo/{context.EdgeID}");})">
                            查看点位
                        </Button>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    </Content>

    <ChildContent>

    </ChildContent>
</PageContainer>

